{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <section class="block1-section clearfix">
      <div class="slides">
		{% for category in category %}
        <div class="slide" style="background-image: url({{category.photo.url}});">
			<a href="/forsome/{{category.slug}}" ><h1>{{ category.title }}</h1></a>
		</div>
		{% endfor %}
      </div>
    </section>
    <section class="block2-section clearfix">
      <div class="center-block-main">
        <h2>Действующие<br>акции</h2>
        <div class="slides">
		{% for list_element in list_fix %}
			<article>
            <h3>{{list_element.title}}</h3>
            <div class="slide boxShadow">
              <a href="{% url 'stock_detail' pk=list_element.pk %}"><img src='{{list_element.photo.url}}' alt=""></a>
              <div class="desc">
               <h4>{{list_element.description}}</h4>
				<a href="{% url 'stock_detail' pk=list_element.pk %}"><u>Подробнее</u></a>
                </div>
              </div>
            </article>
		{% endfor %}
		{% for list_element in list_offer %}
          <article>
            <h3>{{list_element.title}}</h3>
            <div class="slide boxShadow">
              <a href="{% url 'stock_detail' pk=list_element.pk %}"><img src='{{list_element.photo.url}}' alt=""></a>
              <div class="desc">
               <h4>{{list_element.description}}</h4>
				<a href="{% url 'stock_detail' pk=list_element.pk %}"><u>Подробнее</u></a>
                </div>
              </div>
            </article>
		{% endfor %}
              </div>
            </div>
          </section>
        </div>
{% endblock %}